<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Загрузка-данных" data-toc-modified-id="Загрузка-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Загрузка данных</a></span></li><li><span><a href="#Умножение-матриц" data-toc-modified-id="Умножение-матриц-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Умножение матриц</a></span></li><li><span><a href="#Алгоритм-преобразования" data-toc-modified-id="Алгоритм-преобразования-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Алгоритм преобразования</a></span></li><li><span><a href="#Проверка-алгоритма" data-toc-modified-id="Проверка-алгоритма-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Проверка алгоритма</a></span></li><li><span><a href="#Чек-лист-проверки" data-toc-modified-id="Чек-лист-проверки-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Чек-лист проверки</a></span></li></ul></div>

# Защита персональных данных клиентов

Вам нужно защитить данные клиентов страховой компании «Хоть потоп». Разработайте такой метод преобразования данных, чтобы по ним было сложно восстановить персональную информацию. Обоснуйте корректность его работы.

Нужно защитить данные, чтобы при преобразовании качество моделей машинного обучения не ухудшилось. Подбирать наилучшую модель не требуется.

## Загрузка данных

In [16]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.datasets import make_spd_matrix
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

In [17]:
data = pd.read_csv('/datasets/insurance.csv')
data.head()

   Пол  Возраст  Зарплата  Члены семьи  Страховые выплаты
0    1     41.0   49600.0            1                  0
1    0     46.0   38000.0            1                  1
2    0     29.0   21000.0            0                  0
3    0     21.0   41700.0            2                  0
4    1     28.0   26100.0            0                  0

In [18]:
data.tail()

      Пол  Возраст  Зарплата  Члены семьи  Страховые выплаты
4995    0     28.0   35700.0            2                  0
4996    0     34.0   52400.0            1                  0
4997    0     20.0   33900.0            2                  0
4998    1     22.0   32700.0            3                  0
4999    1     28.0   40600.0            1                  0

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
Пол                  5000 non-null int64
Возраст              5000 non-null float64
Зарплата             5000 non-null float64
Члены семьи          5000 non-null int64
Страховые выплаты    5000 non-null int64
dtypes: float64(2), int64(3)
memory usage: 195.4 KB

In [20]:
data.describe()

               Пол      Возраст      Зарплата  Члены семьи  Страховые выплаты
count  5000.000000  5000.000000   5000.000000  5000.000000        5000.000000
mean      0.499000    30.952800  39916.360000     1.194200           0.148000
std       0.500049     8.440807   9900.083569     1.091387           0.463183
min       0.000000    18.000000   5300.000000     0.000000           0.000000
25%       0.000000    24.000000  33300.000000     0.000000           0.000000
50%       0.000000    30.000000  40200.000000     1.000000           0.000000
75%       1.000000    37.000000  46600.000000     2.000000           0.000000
max       1.000000    65.000000  79000.000000     6.000000           5.000000

In [21]:
data.duplicated().value_counts()

False    4847
True      153
dtype: int64

In [22]:
data.drop_duplicates(inplace=True)
data.reset_index(inplace=True, drop=True)

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4847 entries, 0 to 4846
Data columns (total 5 columns):
Пол                  4847 non-null int64
Возраст              4847 non-null float64
Зарплата             4847 non-null float64
Члены семьи          4847 non-null int64
Страховые выплаты    4847 non-null int64
dtypes: float64(2), int64(3)
memory usage: 189.5 KB

Изучили данные, удалили дубликаты. Можем двигаться дальше.

## Умножение матриц

В этом задании вы можете записывать формулы в *Jupyter Notebook.*

Чтобы записать формулу внутри текста, окружите её символами доллара \\$; если снаружи —  двойными символами \\$\\$. Эти формулы записываются на языке вёрстки *LaTeX.* 

Для примера мы записали формулы линейной регрессии. Можете их скопировать и отредактировать, чтобы решить задачу.

Работать в *LaTeX* необязательно.

Обозначения:

- $X$ — матрица признаков (нулевой столбец состоит из единиц)

- $y$ — вектор целевого признака

- $P$ — матрица, на которую умножаются признаки

- $w$ — вектор весов линейной регрессии (нулевой элемент равен сдвигу)

Предсказания:

$$
a = Xw
$$

Задача обучения:

$$
w = \arg\min_w MSE(Xw, y)
$$

Формула обучения:

$$
w = (X^T X)^{-1} X^T y
$$

**Ответ:** Качество линейной регрессии не изменится

**Обоснование:** 

Представим новую матрицу признаков $X1$ как произведение исходной $X$ на матрицу $A$

$$ 
X1= X*A
$$

Подставим X1 в формулу обучения w1 

$$
w1 = ((XA)^T XA)^{-1} (XA)^T y
$$

Воспользовавшись свойством матриц $(A B)^T = B^T A^T$ раскроем первое произведение $ (X A)^T $:

$$
w1 = (A^T X^T X A)^{-1} A^T X^T y
$$

Перегруппируем:

$$
w1 = (A^T (X^T X) A)^{-1} A^T X^T y
$$

Раскроем скобки воспользовавшись свойством матриц $ (A B)^T = B^T A^T $:

$$
w1 = A^{-1} (X^T X)^{-1} (A^T)^{-1} A^T X^T y
$$

Так как $A$ по условию обратимая, то применяя следующее свойство матриц $A^{-1}A = E$ (единичная матрица):

$$
w1 = A^{-1} (X^T X)^{-1} E X^T y = A^{-1} (X^T X)^{-1} X^T y
$$

Подставляем формулу расчета весов $w$ в правую часть уравнения:

$$
w1 = A^{-1} (X^T X)^{-1} X^T y = A^{-1} w
$$

Подставим в формулу предсказания модели значения $X1$ и $w1$:

$$
a1 = X1w1 = XAA^{-1} w
$$

Снова воспользуемся следующим свойством $A^{-1}A = E$:

$$
a1 = XAA^{-1} w = X E w = X w = a
$$

Параметры линейной регрессии в исходной задаче $w$ и в преобразованной $w1$ связаны следующим образом:

$$
w1 = A^{-1} w
$$


**Вывод** Значение предсказания $a$ не меняется, если умножать матрицу признаков на обратимую матрицу. Соответственно и не меняется качество.

## Алгоритм преобразования

**Алгоритм**

Создадим случайную матрицу A и проверим ее на обратимость.
Матрица А будет ключом кодирования для защиты данных клиентов банка.
Умножим матрицу признаков X1 на полученную матрицу А и получаем матрицу X с закодированными данными о клиентах:

$$ X1 = X @ A $$


**Обоснование**

Воспользуемся свойством, обоснованным в п.2

## Проверка алгоритма

Разделим наши данные на признаки и целевую переменную

In [24]:
X = data.drop('Страховые выплаты', axis=1)
y = data['Страховые выплаты']

Обучим модель линейной регрессии на не преобразованных данных

In [25]:
model = LinearRegression()
score_before = cross_val_score(model, X, y, scoring='r2', cv=5).mean()
score_dict = {'Точность модели до преобразования': score_before}; score_dict

{'Точность модели до преобразования': 0.42779425802804916}

In [26]:
np.random.seed(27)
A = np.random.normal(size=(4, 4))

Убедимся, что наша матрица обратима получив в результате единичную.

In [27]:
A @ np.linalg.inv(A)

array([[ 1.00000000e+00,  6.12129899e-16, -6.69940774e-18,
         1.26052591e-16],
       [-9.96331334e-18,  1.00000000e+00,  2.64165190e-17,
         1.09088685e-16],
       [ 1.19846469e-16,  1.52558057e-17,  1.00000000e+00,
         1.34344952e-17],
       [-3.65574466e-18, -3.36373321e-16,  1.16922240e-16,
         1.00000000e+00]])

Проведем кодирование

In [28]:
X1 = X @ A
X1.head()

              0             1             2             3
0  40734.288879  60362.322305  27743.148479  18696.271675
1  31209.864345  46244.531724  21252.028563  14326.871686
2  17248.666272  25556.550984  11743.222852   7918.643951
3  34241.627292  50747.981062  23327.696697  15714.219323
4  21437.116866  31763.275428  14597.209372   9840.186132

Обучим модель на преобразованных данных и сравним результаты

In [29]:
score_after = cross_val_score(model, X1, y, scoring='r2', cv=5).mean()
score_dict['Точность модели после преобразования'] = score_after
score_dict['Разница оценки качества'] = score_after - score_before; score_dict

{'Точность модели до преобразования': 0.42779425802804916,
 'Точность модели после преобразования': 0.42779425802812143,
 'Разница оценки качества': 7.227551890309769e-14}

Проверим наш результат

In [30]:
X1 = X1 @ np.linalg.inv(A); X1.head()

              0     1        2             3
0  1.000000e+00  41.0  49600.0  1.000000e+00
1  3.434692e-12  46.0  38000.0  1.000000e+00
2  2.002886e-12  29.0  21000.0  5.751303e-13
3 -2.525279e-12  21.0  41700.0  2.000000e+00
4  1.000000e+00  28.0  26100.0  3.294916e-12

**Вывод**
 
В данной работе мы математически доказали, что качество линейной регрессии не изменится, если умножать признаки на обратимую матрицу.
Воспользовавшись этим свойством закодировали данные и доказали, что качество модели после преобразования данных не изменилось.

## Чек-лист проверки

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.

- [x]  Jupyter Notebook открыт
- [x]  Весь код выполняется без ошибок
- [x]  Ячейки с кодом расположены в порядке исполнения
- [x]  Выполнен шаг 1: данные загружены
- [x]  Выполнен шаг 2: получен ответ на вопрос об умножении матриц
    - [x]  Указан правильный вариант ответа
    - [x]  Вариант обоснован
- [x]  Выполнен шаг 3: предложен алгоритм преобразования
    - [x]  Алгоритм описан
    - [x]  Алгоритм обоснован
- [x]  Выполнен шаг 4: алгоритм проверен
    - [x]  Алгоритм реализован
    - [x]  Проведено сравнение качества моделей до и после преобразования